<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
        <h1>Create Account</h1>
        <p>Select Account Type</p>

        <a href="{% url 'accounts:register_grocer' %}">Vendor Account</a><br>

        <a href="{% url 'accounts:register_buyer' %}">Shopper Account</a><br>
        <script>
            window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
        </script>
        <script defer src="/_vercel/speed-insights/script.js"></script>
    </body>
</html>
